// Nav

.main-header-nav
  padding: 0
  li
    a
      padding-top: 2px
      padding-bottom: 2px
      padding-left: 8px
      padding-right: 8px

.main-header-nav-container
  max-width: 80%

.header-content-navbar
  padding-top: 10px
  padding-bottom: 10px

#header-search-input
  width: 370px

a.github-logo-link-header
  padding: 0px
  padding-top: 8px

.header-github-avatar
  height: 20px
  width: 20px

#header-user-dropdown-list
  width: 180px
  margin-top: 18px
  padding-top: 10px
  padding-bottom: 10px
  li
    padding-left: 15px
    padding-right: 15px
    a
      padding-left: 0px
      padding-right: 0px
  li:first-of-type
    p
      margin-bottom: 0px

//Main Content

.main-content-container
  padding-top: 70px

.main-content
  max-width: 82%
  padding-left: 0px
  padding-right: 0px

//Profile Sidebar

.main-name
  margin-top: 12px
  margin-bottom: 0px

.name-subcaption
  margin-top: 0px
  margin-bottom: 0px

.sidebar-mail-and-joined-icons
  padding-right: 10px

.sidebar-mail-and-joined-icons.fa-clock-o,
.sidebar-mail-and-joined-icons.fa-envelope-o
  padding-top: 6px

.sidebar-content-container
  hr
    margin-top: 12px
    margin-bottom: 12px

.followers-following-starred-list
  text-align: center
  margin-bottom: 0px
  li
    padding-right: 15px
    a
      h2
        margin-top: 0px
        margin-bottom: 0px
      p
        margin-bottom: 0px

.organizations-icon-list
  li
    img
      height: 42px
      width: 42px
      border-radius: 3px

// Repo Info

.repo-tab-nav
  margin-bottom: 15px

.btn.edit-profile-button
  padding: 2px 10px
  i
    padding-right: 3px

.repo-nav-tabs
  li
    a
      padding: 8px 12px

.repo-nav-bar-list
  padding-right: 15px
  margin-bottom: 0px
  margin-top: 8px

#repo-search-field
  width: 260px
  padding: 7px 8px

#repo-search-button
  height: 34px
  right: 35px

.edit-profile-button
  float: right

.main-new-repo-button
  float: right
  padding: 6px 12px
  span
    padding-right: 5px

.repo-nav-bar-list
  float: right

.repo-list
  padding-left: 0px

.repo-list-items
  padding-top: 30px
  padding-bottom: 30px

h3.repo-names
  margin-top: 0px

.repo-stats
  float: right
  padding-top: 6px
  a
    margin-left: 8px
    i
      padding-right: 4px

//Footer

.footer-container
  max-width: 80%
  padding-left: 0px
  padding-right: 0px
  margin-top: 40px
  height: 100px

.footer-nav
  width: 100%
  margin-right: 0px
  margin-left: 0px
  margin-bottom: 0px
  border: none
  border-top: 1px solid $lightgrayborder
  background-color: transparent

.footer-list-container
  width: 100%
  padding-top: 35px
  padding-bottom: 35px
  padding-left: 0px
  padding-right: 0px
  .navbar-left,
  .navbar-right,
  .navbar-header
    padding-left: 0px
    padding-right: 0px

#github-logo-link-footer
  float: none
  margin: 0px
  margin-left: 45%
  padding: 0px
  i.github-logo
    font-size: 30px
    color: $lightgrayborder
